---
- hosts: all
  vars:
    docker_install_compose: true
    docker_compose_version: "v2.27.1"
    docker_compose_arch: "{{ ansible_architecture }}"
    docker_compose_path: /usr/local/bin/docker-compose
  roles:
    - docker
